/* components/Game.css */

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1a1a1a;
}

.game-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
}

.game-container>div:not(.game-background) {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  /* Allow clicks to pass through to underlying elements */
}

.game-container>div:not(.game-background)>* {
  pointer-events: auto;
  /* Re-enable pointer events for actual components */
}

.battle-field-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 250px);
  /* Adjust height to make space for CardHand */
  z-index: 5;
  /* Ensure BattleField is behind CardHand */
}

.card-hand-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  z-index: 20;
}